@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins"),
    url(https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrFJXMP3tkMtSvbW9jml-alcZ6v0aR-BxBkfPXxz004mxE8Gy5_mdojreLGFB2Y4dOY7mJ8IN1wN7iywr1e0aQXNHLaD672XYj0y_GiQ&skey=87759fb096548f6d&v=v20)
      format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins"),
    url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLGT9V153WNeqampgj0iPlsN9ukWc9xZG6Yyrwjox4WFL_W-8-WJrk6iWG1VxZoRDbLSwy7pwx9vhxgX4eEOXWdLWdyO43HEm0CLJhFDCSA&skey=d4526a9b64c21b87&v=v20)
      format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins"),
    url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLEj6V153WNeqampgj0iPlsN9ukWc9xZG6Yyrwjox4WFL_W-8-WJrk6iWG1VxZoRDbLSwy7pwx9vhxgX4eEOXWdLWdyO43HEm0CLJhFDCSA&skey=ce7ef9d62ca89319&v=v20)
      format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins"),
    url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLCz7V153WNeqampgj0iPlsN9ukWc9xZG6Yyrwjox4WFL_W-8-WJrk6iWG1VxZoRDbLSwy7pwx9vhxgX4eEOXWdLWdyO43HEm0CLJhFDCSA&skey=cea76fe63715a67a&v=v20)
      format("woff2");
}

@layer base {
  body {
    @apply bg-gray-50 text-base subpixel-antialiased dark:bg-gray-950;
  }
}

@layer components {
  .btn {
    @apply text-gray-700 dark:text-gray-300 shadow-sm hover:shadow rounded-full transition-colors duration-150 ease-in-out border border-gray-200 dark:border-gray-600;
  }

  .btn-md {
    @apply p-3;
  }

  .btn-sm {
    @apply p-2;
  }

  .btn-indigo {
    @apply hover:text-indigo-600 dark:hover:text-indigo-400 hover:border-indigo-400 dark:hover:border-indigo-600;
  }

  .btn-yellow {
    @apply hover:text-yellow-600 dark:hover:text-yellow-400 hover:border-yellow-400 dark:hover:border-yellow-600;
  }
}
