@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/poppins-400.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/poppins-500.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/poppins-600.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/poppins-700.woff2") format("woff2");
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .btn {
    @apply cursor-pointer rounded-full border border-gray-200 text-gray-700 shadow-xs transition-colors duration-150 ease-in-out hover:shadow-sm dark:border-gray-600 dark:text-gray-300;
  }

  .btn-md {
    @apply p-3;
  }

  .btn-sm {
    @apply p-2;
  }

  .btn-indigo {
    @apply hover:border-indigo-400 hover:text-indigo-600 dark:hover:border-indigo-600 dark:hover:text-indigo-400;
  }

  .btn-yellow {
    @apply hover:border-yellow-400 hover:text-yellow-600 dark:hover:border-yellow-600 dark:hover:text-yellow-400;
  }
}
